@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: darkgray;
}


li {
    display: inline-block;
    
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}